{% extends 'layouts/base.html' %}

{% load crispy_forms_tags %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Prueba Técnica</h5>
      </div>
      <div class="card-body">
       
        <form role="form" enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Enviar</button>
        </div>
        </form>
        
    </div>
    </div>
</div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
